

body {
	background-color:#CBE9CB;
}

#tbl {
	border-collapse:collapse;
	margin-top:5px;
	width:1200px;	  
}

table,th,td {
	border:1px solid #000;
}

th,td {
	text-align:center;
}

td,tr	{}.green{background-color: green}
		.grey{background-color: grey}
		.red{background-color: rgba(255, 128, 0, 0.3)}

#AI {
	color: red;
	background-color: blink;
	font-weight:900;
	font-family:"楷体"; 
	font-size: 17px;
	float:right; 
	border:red 1px solid;
	white-space: pre;
}