

body {
	background-color:#CBE9CB;
}

#tbl {
	border-collapse:collapse;
	margin-top:5px;
	width:1200px;	  
}

table,th,td {
	border:1px solid #000;
}

th,td {
	text-align:center;
}

#AI {
	color: red;
	background-color: blink;
	font-weight:bold;
	font-family:"微软雅黑"; 
	float:right; 
	border:red 1px solid;
	white-space: pre;
}